* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  background: #4285f4;
  width: 100%;
  height: 100vh;
  position: relative;
}

.Signin {
  width: 400px;
  height: 500px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
